<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">  
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <!-- <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="./assets/favicon.ico" rel="icon"> -->
  
    <title>Product Details</title>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous"></head>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous"> -->
    <link href="/css/main.97292821.css" rel="stylesheet">
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
      <a class="navbar-item" href="/"><img src="/images/Trademark.jpg" style="max-height: 50px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#our-products">All Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Contact Details</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>




    <!-- <%- include('include/_header') %> -->
    <div class="container">
      <div class="row">
        <div id="carouselExampleControls" class="carousel slide col-lg-6" data-bs-ride="carousel" style="height: 50vh;">
          <div class="carousel-inner">
            <% for(let i = 0; i<product.images.length; i++){ %>
            <div class="carousel-item <%= i==0 ? "active" : "" %> " style="text-align: center"  >
              <img src="data:image/jpg;base64,<%=product.images[i]%>" style="max-height: 50vh; object-fit: contain; margin: auto auto;" class="d-block w-100" alt="...">
            </div>
            <% } %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="text-info display-6"><i class="fas fa-angle-double-left"></i></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next primary" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="text-info display-6"><i class="fas fa-angle-double-right"></i></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          
        <div class="col-lg-6">
          <p class="display-5 mt-5"><%=product.productName%></p>
          <hr>
          <p class="h5"><%=product.productDescription%></p>
          <hr>
          <p>
            <%=product.productDetailDescription%>
          </p>
          <div class="pt-5">
            <span class="display-6">$<%= product.productPriceNew %></span>
            <span class="text-decoration-line-through text-muted"><%= (!product.productPriceOld ? '' : '$'+product.productPriceOld)  %></span>
          </div>
          
          
        </div>
      </div>
      
    </div>

    
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
      <div class="row mt-5" style="text-align: center;">
          <div class="col-xs-12 col-md-6">
              <h3>Phone</h3>
              <p>+1 905 616 8297 </p>
  
              <h3>E-mail</h3>
              <p>aaron@corwell.ca</p>
          </div>
          <div class="col-xs-12 col-md-6">
              <h3>Address</h3>
              <p>3-3221 Derry Road West, Mississauga</p>
  
              <h3>Open hours</h3>
              <p>Mon - Fri : 9AM - 9PM</p>
              <p>Weekends : 11AM - 5PM</p>
          </div>
      </div>
  </div>
      
</div>
</body>
</html>